body > .container-fluid {
  background-image: url("nen1.png");
  height: 800px;
}

.anhnen {
  width: 40%;
  margin: auto;
  display: flex;
}

.btnUpdate {
  margin: auto;
  display: block;
  background-color: #e34230;
}

table {
  font-size: 20px;
}

td {
  text-indent: 5%;
}
