body > .container-fluid {
  background-image: url("nen1.png");
  height: 800px;
}

.anhnen {
  width: 40%;
  margin: auto;
  display: flex;
}

.btn {
  margin: auto;
  display: block;
  background-color: E34230;
}

table {
  font-size: 20px;
}
