h1 {
  text-align: center;
  color: #e34230;
}

.btnUpdate {
  margin: auto;
  display: flex;
}

.btnThongTin {
  background-color: #e34230;
  color: white;
  margin: auto 15px;
  width: 250px;
  text-align: center;
}

.btnXuLy {
  justify-content: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #e34230;
}

.border {
  margin-top: 5px;
}
